<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/appTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".Example.ServiceExample"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Home"
            android:configChanges="screenSize|screenLayout"
            android:launchMode="singleTask"
            android:theme="@style/homeTheme">


        </activity>
        <activity
            android:name=".Splash"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Next.One"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Next.Two"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Next.Three"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Next.Four"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Next.Five"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Next.Six"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Next.Seven"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Show"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".More"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Example.ActivityTransitionExample2"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Example.PassingValueExample2"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".Example.ForResultExample2"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.InstallFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/me_path" />

        </provider>

    </application>

</manifest>